@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,600;1,100;1,400&display=swap');

body{
    font-family: 'Montserrat Alternates' !important;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color:transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #AAAAAA;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #aaaaaa8d;
}

